<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Address</th>
      <th>Name</th>
      <th>Latitude</th>
      <th>Longitude</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Cerrito 628, C1010 CABA</td>
      <td>Teatro Colon</td>
      <td>-34.601050</td>
      <td>-58.382510</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Panamericana Km 50, La Lonja, Provincia de Buenos Aires</td>
      <td>Las Palmas del Pilar</td>
      <td>-34.351110</td>
      <td>-58.804610</td>
    </tr>
    <tr>
      <th>2</th>
      <td>20200 Piriapolis, Departamento de Maldonado, Uruguay</td>
      <td>Cerro Pan de Azucar</td>
      <td>-34.865301</td>
      <td>-55.273024</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Sta Fe 581, S20000 Rosario, Santa Fe</td>
      <td>Monumento Historico Nacional a la Bandera</td>
      <td>-32.947388</td>
      <td>-60.630760</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Av. Fontana 140, U9100 Trelew, Chubut</td>
      <td>Museo Paleontologico Egidio Feruglio</td>
      <td>-43.249549</td>
      <td>-65.307258</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Escollera Sur, Mar del Plata, Provincia de Buenos Aires</td>
      <td>Reserva de lobos marinos</td>
      <td>-37.997410</td>
      <td>-57.548460</td>
    </tr>
  </tbody>
</table>